/*
font-family: 'Licorice', cursive;
font-family: 'Nunito', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;

}

html{scroll-behavior: smooth;}

body {
	background: #FCF8FB;
}

/* ############################################################### INICIO  HEADER ############################################################### */

header {
	width: 100%;
}

.section-header {
	position: fixed;
	width: 100%;
	height: 110px;
	background: #080704;
	box-shadow: 0px 0px 4px #000000;
	z-index: 99;
	opacity: 0.977;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	transition: 1s;
}

.section-header-short {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #080704;
	box-shadow: 0px 0px 4px #000000;
	z-index: 99;
	opacity: 0.977;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	transition: 2s;
}

.nomePrincipal {
	display: flex;
	letter-spacing: 2px;

}
#curriculo {
	color: white;
	margin-right: 2vh;
}
#nome-completo {
	color: white;
	width: 365px;
	transition: 2s;
}

.indice a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 2px;	
	transition: 1s;
}

.indice a:hover{
	color: #ffbf48;
}

/* ############################################################### INICIO  PERFIL ############################################################### */

.section-perfil {
	position: relative;
    width: 100%;
	padding: 60px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
	background: #dfdfdf;
	box-shadow: 0px 0px 2px #dddddd;
	margin: 20vh 0;
	
}   
.foto-perfil {
	max-width: 460px;
	width: 35%;
	min-width: 300px;
	border-radius: 35%;
}
.sobre-perfil {
	width: 39%;
	text-align: left;
	font-size: 1.3em;
}
.sobre-perfil h4 {
	font-size: 1.3em;
	margin-bottom: 1em;
}
.sobre-perfil p{
	margin-bottom: 14px;
}

.navSocial {
	display: inline-block;
	justify-content: space-between;
    right: 0px;
    padding: 4px;
	margin-top: 30px;
}

.navSocial button {
	margin-right: 5px;
	border-radius: 18px;
    padding: 9px;
	border-style:  none;
	cursor: pointer;
	transition: 1s;
} 

.navSocial button:hover{
	background-color: #ffbf4881;
}

/* ############################################################### INICIO  EXPERIENCIA ############################################################### */


.section-experiencia {
	position: relative;
	margin: 10em 0 15em 0;
	list-style: none;
}

#tituloSection{
	font-size: 3em;
	text-align: center;
	margin-bottom: 1em;
	transition: .6s ease-in-out;
}

.backGround-display {
	width: 100%;
	background-color: #dddddd;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 550px;
}

.display1, .display3{
	display: flex;
	box-shadow: inset 0px 0px 2px #f3f3f3;
	background-color: #ecebeb;
	width: 20%;
	height: 350px;
	padding: 20px;
	border-radius: 20px;
	transition: 0.6s;
	justify-content: center;
    align-items: center;
	text-align: center;
}
.display2{
	display: flex;
	box-shadow: inset 0px 0px 2px #f3f3f3;
	background-color: #ecebeb;
	width: 24%;
	height: 400px;
	border-radius: 20px;
	transition: 0.6s;
	justify-content: center;
    align-items: center;
	text-align: center;
}

#display1:hover, .display3:hover{
	width: 22%;
	height: 370px;
	box-shadow: 0px 0px 6px rgb(143, 143, 143), inset 0px 0px 40px white;
	transition: 1s;
}
.display2:hover{
	width: 26%;
	height: 435px;
	box-shadow: 0px 0px 6px rgb(143, 143, 143), inset 0px 0px 40px white;
	transition: 1s;
}

.box-exp {
	align-items: center;
}

.box-exp ul {
	font-weight: bold;
	text-align: center;
	padding: 0 0 5px 0;
	font-size: 1.2em;	
}

#titulo2 {
	font-weight: bold;
	padding: 0 0 2px 0;	
}

.right, .left {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: none;
	font-size: 1.5em;
	color: #b9b8b8;
	font-weight: bold;
	transition: 1s;
}

.backGround-display button:hover{
	transform: scale(1.4);
	box-shadow: 0px 0px 6px rgb(143, 143, 143)	;
}
.backGround-display button:active{
	background-color: #636363;
}


.grupo-box-experiencia{
	display: none;
}

.grupo-box-navegation{
	position: absolute;
	display: inline-flex;
	bottom: 20px;
}

.box{
	background-color: white;
	width: 30px;
	height: 6px;
	border-radius: 40px;
	margin: 4px 25px;
}  

.grupoAnimacao{
	display: none;
}
/* ############################################################### INICIO  ATUALMENTE ############################################################### */

.section-atualmente {
	position: relative;
}
#atualmente {
position: relative;
top: 5em;
}
.box-atualmente{
	background-color: rgb(211, 211, 211);
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 4% 0;
}

.atualmenteCambirela, .atualmenteSenai, .atualmenteAlura{
	display: inline-flex;
	transform: scale(0);
	background-color: #e4e1e1;
	flex-direction: column;
	align-items: center;
	margin: 30px;
	padding: 60px;
	border-radius: 40px;
	transition: .9s ease-out;
	min-width: 300px;
}

.box-atualmente ul{
	margin: 0 0 20px 0;
	font-size: 1.4em;
	font-weight: bold;
}
.box-atualmente li{
	margin: 7px;
	list-style: none;
	font-size: 1.1em;
}

/* ############################################################### INICIO  OBJETIVOS ############################################################### */

.section-objetivos{
	position: relative;
	width: 100%;
	margin: 20vh 0 20vh 0;

}
#objetivos{
	position: relative;
	bottom: 15vh;
}
.textoObjetivos{
	width: 40%;
	margin: 4% auto;
	font-size: 1.5em;
}

/* ############################################################### INICIO  CONTATO ############################################################### */

.section-contato{
	position: relative;
	width: 100%;
	background-color: rgb(211, 211, 211);
	padding: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.section-contato #tituloSection {
	margin: 3em 0 0em 0;
}

.navContato a{
	margin: 20px;
	text-decoration: none;
	color: black;
}
.navContato p{
	font-size: 1.3em;
	transition: .6s ease-in-out;
}
.navContato p:hover{
	transform: scale(1.3);
	color: #614208;
}

/* ############################################################### INICIO  FOOTER ############################################################### */

.section-footer {
	height: 28px;
	width: 100%;
	background: #080704;
	box-shadow: 0px 0px 3px #000000;
	display: inline-flex;
    align-items: center;
    justify-content: flex-end;
	padding: 25px;
}
.section-footer p{
	color: white;
	font-size: 10px;
}

@media (max-width: 1250px) {
	.indice a{
		margin: 0px;	
	}
}

@media (max-width: 1023px) {
	#curriculo{
	display: none;
	}
	.section-perfil{
		flex-direction: column;

	}
	.foto-perfil {
		margin-bottom: 2em;
		max-width: 390px;
	}
	.sobre-perfil{
		width: 70%;
	}
	.display1, .display3{
		display: none;
	}
	.display2{
		width: 40%;
		min-width: 350px;
	}
	.display2:hover{
		width: 45%;
		font-size: 1.2em;
	}
	.textoObjetivos{
		width: 60%;
}

}

@media(max-width: 920px){
	.section-header, .section-header-short{
		justify-content: space-between;
		padding: 10px;
	}
	.navSocial{
		display: inline-flex;
		width: 70%;
	}
	.indice{
		display: none;
	}
}

@media(max-width: 570px){	
	#sobreTexto {
		text-align: center;
	}
	.sobre-perfil{
		width: 90%;
	}
	.navSocial{
		display: inline-flex;	
	}
	.box{
		width: 20px;
		height: 6px;
		border-radius: 40px;
		margin: 4px 15px;
	}  
	.display2:hover{
		font-size: 1.1em;
	}
	.navBotao{
		margin-bottom: 10px;
	}
	.textoObjetivos{
		width: 80%;
	}
}

@media (max-width: 420px) {
	.navSocial{
		position: relative;
	right: 1em;
	}
	
	#display2 {
		width:64%;
		min-width: 200px
	}
	.navBotao{
		margin-right: 1px;
	} 
	.left{
		width: 0.9em;
		height: 2em;
	}
	.right{
		width: 0.9em;
		height: 2em;
	}
	.display2:hover{
		font-size: 1em;
	}
}



@media (max-height: 768px) {
	.section-header {
		height: 70px;
	}
	
	.section-header-short {
		height: 40px;
	}

	.section-perfil {
		margin-top: 12vh;
	} 
	.section-atualmente {
		margin: 0 0 10em 0;
	}
	.section-experiencia {
		margin: 3em 0 15em 0;
	}
	.section-atualmente {
		margin: 0 0 0em 0;
	}
	#objetivos{
		position: relative;
		bottom: 10vh;
	}
	.section-objetivos{
		margin-top: 13vh;
	}
}